/* styles.css */
.hover-text-shadow:hover {
    text-shadow: 0 0 20px #ef4444;
    filter: drop-shadow(0 0 20px #ef4444);
}

.scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.scroll-up-button__button {
    background-color: rgba(239, 68, 68, 0.7); /* Red with 70% opacity */
    color: lightgray;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px; /* Increase padding for a larger button */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Increased shadow */
    transition: background-color 0.3s;
}

.scroll-up-button__button:hover {
    background-color: rgba(220, 38, 38, 0.7); /* Darker shade with same opacity */
}
